$imageUrl: url(../img/m-h-night.jpg);

//colors

$colors: (
	bgColor: #21232e,
	color1: #ff4e33,
	sectionColor: #3b3f50,
	bannerColor1: #dca108,
	bannerColor2: #942f50,
	textColor :#fff,
	buttonColor:#e3ac00  
);



//fonts

$fontMain: 'Source Sans Pro', sans-serif; 
$fontSecondary: 'Fresca', sans-serif;

//mixins 
@mixin button{
	height: 50px;
	width: 140px;
	background-color: colors(buttonColor);
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: medium;
	font-weight: bold;
	font-family: $fontMain;
}
@mixin link{
	margin-top: 27px;
	color: #fff;
	opacity: 0.8;
}
.opacity{
	opacity: 1;
}
