body{
	color: $textColor;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	font-family: $fontMain;
	background-color: $bgColor;
	
}

.header{
	width: 100%;
	display: flex;
	height: 720px;
	background: $imageUrl no-repeat 100%;
	background-size: cover;
	border-radius: 0px 0px 700px/280px 0px;
}
.header-wrap{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 190px;
}
.landing-logo{
	display: flex;
	align-items: center;
	
		p{
			font-family: $fontSecondary;
			font-size: x-large;
			font-weight: bold;
			text-align: center;
			margin-left: 5px;
			line-height: 1.2;
			@extend %opacity;
			span{
				display: block;
				font-family: $fontSecondary;
				font-weight: normal;
				font-size: small;
				@extend %opacity;
			}	
	}
}

.header_heading{
	width: 505px;
	line-height: 60px;
	margin-top: 65px;
	margin-bottom: 0px;
	font-family: $fontMain;
	font-size: 75px;
	font-weight: bold;
	position: relative;
	z-index: 1;
	@extend %opacity;

	&::before{
		 content: "";
 		 position: absolute;
 		 background: $color1 ;
         width: 315px;
   		 height: 50px;
  	     z-index: -1;
 		 bottom: -5px;
 		 left: 0px;
 			

	}
}

.header_text{
	font-family: $fontSecondary;
	margin-top: 50px;
	content: "\A";
	white-space: pre-line;
	text-align: left;
	@extend %opacity;
}
.header_button{
	@include button;
	margin-top: 50px;
}
.login{
	margin-left: 100px;
	color: #fff;
	font-family: $fontMain;
	font-size: large;
}
.section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	align-items: center;
	.section_text{
			text-align: center;
			font: $fontMain;
			font-size: 40px;
			color: $textColor;
			position: relative;
			width: 400px;
		&::before{
		     content: "";
		     position: absolute;
 		     background: $color1;
		     width: 172px;
 		     height: 43px;
 		     z-index: -1;
  		     right:18px;
 		 
			}
		}
	}

	

.section_card_wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.section_card{
	//max-width: 58%;
	display: flex;
	justify-content: row;
	background: $sectionColor;
	width: 1115px;
	border-radius: 5px;
	align-items: center;
	margin-bottom: 25px;

	img{
		margin: 20px 0 20px 20px;
		border-radius: 5px;
		height: 288px;
		width: 100%;
		object-fit: cover;
	}
	.section_card_right_container{
		font-family: $fontSecondary;
		align-self: start;
		color: #fff;
		margin-left:85px;
		margin-right: 105px;
		text-align: center;
	 	.section_card_heading{
	 		font-family: $fontMain;
	 		font-size: x-large;
			margin-top: 75px;
			font-weight: bold;
	 	}
	 	.section_card_text{
	 		margin-top: 40px;
	 		@extend %opacity;
	 		text-align: justify;

	 	}
	 	.section_link{
	 		@include link;
	 	}
	}
}
.section_banner{
	max-width: 68%;
	width: 1200px;
	//margin-left: 360px;
	//margin-right: 360px;
	border-radius: 5px;
	background-image: linear-gradient(80deg, $bannerColor1, $bannerColor2); 
	margin-top:20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transform:translateY(50%);


	.section_banner_text_wrap{
			margin-left: 160px;
			position: relative;


		.section_banner_heading{
			width: 360px;
			@extend %opacity;
			font-weight: bold;
			font-size: 26px;
			&::before{
		     content: "";
  		     position: absolute;
       		 background: $color1;
  		     width: 54px;
    		 height: 50px;
    		 z-index: -1;
    	     top: 10px;
    		 left: 104px;
 		 	}
		}
		.section_banner_text{
			color: #fff;
			@extend %opacity;
			font-size: 16px;
		}
	}
	.section_banner_button{
		@include button;
		margin-right:160px;
	}
}
.footer{
	padding-bottom: 10px;
	height: 244px;
	background: $sectionColor;
	.footer-wrap{
		padding-top: 110px;
		display: flex;
		justify-content: space-between;
		margin-left: 190px;
		margin-right:190px;
		color:#fff;
		align-items: center;
		
		.footer_logo {
			font-family: $fontSecondary;
			opacity: 1;
		}
	}
	.footer_text{
		@extend %opacity;
		text-align: left;
		width: 325px;

	}
	.footer-cr{
		@extend %opacity;
	}
}
